---
import '../global.css'
import Meta from '../layouts/layout.astro';
import banner from "../assets/banner.png";
import { Image } from 'astro:assets';
---

<script>
	import { triggerNavigation } from '../components/triggerNavigation';
	import { moveSite } from "../shared";
	let transitionFirst = true;

	function homeClick(altDomain: string) {
		const homeHeader = document.getElementById("homeHeader");
		const bodyLeft = document.getElementById("bodyLeft");
		const bodyRight = document.getElementById("bodyRight");
		const homeDiv = document.getElementById("homeDiv");
		const homeImage = document.getElementById("homeImage");

		if (transitionFirst) {
			homeHeader.style.transform = 'scaleY(0)';
			homeImage.style.opacity = '0';
			altDomain === 'dev' ? (bodyRight.style.opacity = '0') : (bodyLeft.style.opacity = '0');
			bodyLeft.innerText = 'Loading...';
			bodyRight.innerText = 'Loading...';
			triggerNavigation(moveSite(homeHeader, homeDiv, bodyRight, bodyLeft, false, altDomain, true));
		}
		transitionFirst = false;
	}

	function keyNav(event: KeyboardEvent) {
		switch (event.key) {
			case 'ArrowRight':
				homeClick('art');
				break;
			case 'ArrowLeft':
				homeClick('dev');
				break;
			default:
				break;
		}
	}

	// DEFAULT LEFT TO RIGHT
	function handleGesure(touchstartX : number, touchendX : number) {
		const diff = touchstartX - touchendX;
		if (diff < -100) {
			homeClick('dev')
		} else if (diff > 100) {
			homeClick('art')
		}
	}

	function init() {
		transitionFirst = true;

		const bodyLeftDiv = document.getElementById('bodyLeftDiv');
		bodyLeftDiv.addEventListener('click', () => { homeClick('dev') });
		const bodyRightDiv = document.getElementById('bodyRightDiv')
		bodyRightDiv.addEventListener('click', () => { homeClick('art') });

		let touchstartX = 0;
		let touchendX = 0;

		bodyLeftDiv.addEventListener('touchstart', (event: TouchEvent) => {
			touchstartX = event.touches[0].clientX;
		}, false);

		bodyRightDiv.addEventListener('touchstart', (event: TouchEvent) => {
			touchstartX = event.touches[0].clientX;
		}, false);

		bodyLeftDiv.addEventListener('touchmove', (event: TouchEvent) => {
			touchendX = event.touches[0].clientX;
			handleGesure(touchstartX, touchendX);
		}, false);

		bodyRightDiv.addEventListener('touchmove', (event: TouchEvent) => {
			touchendX = event.touches[0].clientX;
			handleGesure(touchstartX, touchendX);
		}, false);

		document.addEventListener('keydown', keyNav);
		document.addEventListener('astro:before-swap', () => {
			document.removeEventListener('keydown', keyNav);
  		}, { once: true });
	}

	init();

	document.addEventListener('astro:after-swap', () => {
		const regex = /\/portfolio(\/+)?$/;
		if (regex.test(window.location.href)) {
			init();
		}
  	});
</script>

<Meta title="SENTRIE - HOME" animOut="slideDown">
	<div class="home-div" id="homeDiv" transition:persist>
		<div class="home-header" id="homeHeader">
			<Image src={banner} alt="banner" class="banner" id="homeImage"/>
		</div>
		<div class="body-side body-left" id="bodyLeftDiv">
			<p id="bodyLeft">
				Visit dev side
			</p>
			<div class="body-img"></div>
		</div>
		<div class="body-side body-right" id="bodyRightDiv">
			<p id="bodyRight">
				Visit art side
			</p>
			<div class="body-img"></div>
		</div>
	</div>
</Meta>

<style>
	html {
		background: linear-gradient(90deg, var(--dark-body) 50%, #09201d 50% 50%);
	}

	.body-side {
		cursor: pointer;
	}

	.home-header {
		transform-origin: top;
		pointer-events: none;
		position: absolute;
		top: 15%;
		height: 200px;
		transition: var(--trans-time) ease;
		background: linear-gradient(90deg, #09201d 50%, var(--dark-body) 50%);
	}

	.banner {
		height: 100%;
		width: 100%;
		opacity: 1;
		object-fit: cover;
		transition: all var(--trans-time) ease;
		pointer-events: none;
	}

	.home-header > p {
		width: auto;
		height: auto;
		background: linear-gradient(90deg, #f7e0e0 50%, hsl(44, 78%, 87%) 50%);
		background-clip: text;
		text-align: center;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	body > div:last-of-type {
		width: 100%;
		height: 100%;
	}

	p {
		width: fit-content;
		height: fit-content;
		padding: 0.3rem 0.6rem;
	}

	#bodyLeft {
		background-color: var(--dark-body);
	}

	#bodyRight {
		background-color: #09201d;
	}

	@media (max-width: 768px) {
		.home-header {
			height: 175px;
		}
	}

	@media (max-width: 576px) {
		.home-header {
			width: 100%;
			aspect-ratio: 3;
			height: auto;
		}
	}

	@media (min-aspect-ratio: 2/3) {
		#bodyLeft, #bodyRight {
			position: absolute;
			bottom: 35%;
		}
	}

	@media (min-aspect-ratio: 4/3) and (max-width: 768px) {
		#bodyLeft, #bodyRight {
			position: absolute;
			bottom: 15%;
		}
	}
</style>
