---
import '../global.css'
import Meta from '../layouts/layout.astro';
---

<script>
	import { triggerNavigation } from '../components/triggerNavigation';
	import { moveSite } from "../shared";
	let transitionFirst = true;

	function homeClick(altDomain: string) {
		const homeHeader = document.getElementById("homeHeader");
		const bodyLeft = document.getElementById("bodyLeft");
		const bodyRight = document.getElementById("bodyRight");
		const homeDiv = document.getElementById("homeDiv");
		const homeText = document.getElementById("homeText");

		if (transitionFirst) {
			homeHeader.style.height = '0';
			homeText.style.opacity = '0';
			altDomain === 'dev' ? (bodyRight.style.opacity = '0') : (bodyLeft.style.opacity = '0');
			bodyLeft.innerText = 'Loading...';
			bodyRight.innerText = 'Loading...';
			triggerNavigation(moveSite(homeHeader, homeDiv, bodyRight, bodyLeft, false, altDomain, true));
		}
		transitionFirst = false;
	}

	function keyNav(event: KeyboardEvent) {
		switch (event.key) {
			case 'ArrowRight':
				homeClick('art');
				break;
			case 'ArrowLeft':
				homeClick('dev');
				break;
			default:
				break;
		}
	}

	function init() {
		transitionFirst = true;

		const bodyLeftDiv = document.getElementById('bodyLeftDiv');
		bodyLeftDiv.addEventListener('click', () => { homeClick('dev') });
		const bodyRightDiv = document.getElementById('bodyRightDiv')
		bodyRightDiv.addEventListener('click', () => { homeClick('art') });

		document.addEventListener('keydown', keyNav);
		document.addEventListener('astro:before-swap', () => {
			document.removeEventListener('keydown', keyNav);
  		}, { once: true });
	}

	init();

	document.addEventListener('astro:after-swap', () => {
		const regex = /\/portfolio$/;
		if (regex.test(window.location.href)) {
			init();
		}
  	});
</script>

<Meta title="SENTRIE'S PORTFOLIO">
	<div class="home-div" id="homeDiv">
		<div class="home-header" id="homeHeader">
			<p id="homeText">
				Welcome to my page
				<br />
				I AM SENTRIE
			</p>
		</div>
		<div class="body-side body-left" id="bodyLeftDiv">
			<p id="bodyLeft">
				Visit dev to read the documentation
			</p>
			<div class="body-img"></div>
		</div>
		<div class="body-side body-right" id="bodyRightDiv">
			<p id="bodyRight">
				Visit art to read the documentation
			</p>
			<div class="body-img"></div>
		</div>
	</div>
</Meta>

<style>
	.home-header {
		pointer-events: none;
		position: absolute;
		top: 15%;
		height: 160px;
		transition: var(--trans-time) ease;
		background: linear-gradient(90deg, var(--light-body) 50%, var(--dark-body) 50%);
	}

	.home-header > p {
		width: auto;
		height: auto;
		background: linear-gradient(90deg, var(--dark-body) 50%, var(--light-body) 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	body > div:last-of-type {
		width: 100%;
		height: 100%;
	}
</style>
