---
import { ViewTransitions } from 'astro:transitions';
const { title, animOut = 'fadeIn', animIn = 'fadeOut' } = Astro.props;

const anim = {
  old: {
    name: animIn,
    duration: '500ms',
    easing: 'linear',
    fillMode: 'both',
  },
  new: {
    name: animOut,
    duration: '500ms',
    easing: 'ease-out',
    fillMode: 'both',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};

---

<style is:global>
@keyframes fadeOut {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes slideDown {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

</style>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> { title } </title>
        <ViewTransitions />
    </head>
    <body transition:animate={myFade}> 
        <slot />
    </body>
</html>
