---
import { ViewTransitions, fade } from 'astro:transitions';
const { title } = Astro.props;
const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> { title } </title>
        <ViewTransitions />
    </head>
    <body transition:animate={fade({ duration: '0.4s' })}> 
        <slot />
    </body>
</html>
