---
import '@fontsource-variable/rubik';
import { ClientRouter } from 'astro:transitions';
const { title } = Astro.props;

import { getImage } from 'astro:assets'
import faviconIco from '../favicon/favicon.ico'
import faviconSrc from '../favicon/favicon.png'
import faviconSvgSrc from '../favicon/favicon.svg'

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#12171b">
        <meta name="description" content="IAM_SENTRIE'S portfolio. Showcases technical and creative projects." />
        <link rel="icon" href={faviconIco} sizes="32x32" />
        <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
        <link rel="apple-touch-icon" href={appleTouchIcon.src} />
        <title> { title } </title>
        <ClientRouter />
    </head>
    <body transition:animate="fade"> 
        <slot />
    </body>
</html>

<style is:global>
@keyframes slideDown {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
